.car-details-container {
  background-color: white;
  color: black;
  border: 1px solid #6C63AC;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  justify-content: space-around;
}

.car-model{
  display: flex;
  width: 15%;
  flex-direction: column;
  border-right: black 1px solid;
}

.car-model h2 {
  color: #6C63AC;
  font-size: 1.5em;
}


.customer-info h3, .options h3, .seller-info h3 {
  color: #6C63AC;
  font-size: 1.2em;
}

.customer-info, .options, .seller-info {
  border-right: black 1px solid;
  width: 32%;
}

ul {
  list-style: none;
  padding: 0;
}

.blockUser{
  width: 60%;
  display: flex;
  justify-content: space-between;
}


.blockImg{
  width: 20%;
}

.imgBlocOpt{
  width: 100%;
}

.clickable{
  display: inline-block;
  border-bottom: 1px solid #6C63AC;
  cursor: pointer;
  font-weight: bolder;
  transition: transform 100ms ease-in-out;
}

.clickable:hover{
  color:  #6C63AC;
  transform: scale(1.01);
}
