<p>display-seller works!</p>
<p>test</p>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!-- Roles Column -->
  <ng-container matColumnDef="roles">
    <th mat-header-cell *matHeaderCellDef> Roles </th>
    <td mat-cell *matCellDef="let element"> {{element.roles}} </td>
  </ng-container>

  <!-- First Name Column -->
  <ng-container matColumnDef="first_name">
    <th mat-header-cell *matHeaderCellDef> First Name </th>
    <td mat-cell *matCellDef="let element"> {{element.first_name}} </td>
  </ng-container>

  <!-- Last Name Column -->
  <ng-container matColumnDef="last_name">
    <th mat-header-cell *matHeaderCellDef> Last Name </th>
    <td mat-cell *matCellDef="let element"> {{element.last_name}} </td>
  </ng-container>

  <!-- Username Column -->
  <ng-container matColumnDef="username">
    <th mat-header-cell *matHeaderCellDef> Username </th>
    <td mat-cell *matCellDef="let element"> {{element.username}} </td>
  </ng-container>

  <!-- Concession Column -->
  <ng-container matColumnDef="concession">
    <th mat-header-cell *matHeaderCellDef> Concession </th>
    <td mat-cell *matCellDef="let element"> {{element.concession}} </td>
  </ng-container>

  <!-- Header row definition -->
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

  <!-- Data row definition -->
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>

