$primary-color: #6200ea;
$secondary-color: #03dac6;
$background-color: #f3f3f3;
$header-background-color: #6200ea;
$header-text-color: #ffffff;
$row-hover-color: rgba(98, 0, 234, 0.1);
$border-color: #e0e0e0;
$text-color: #333333;

table.mat-elevation-z8 {
  width: 100%;
  max-width: 100%;
  background-color: $background-color;
  border-collapse: collapse;
  border-radius: 8px;
  overflow: hidden;

  th.mat-header-cell {
    background-color: $header-background-color;
    color: $header-text-color;
    font-weight: bold;
    font-size: 1.1rem;
    padding: 16px;
    text-align: left;
    border-bottom: 2px solid $primary-color;
  }

  td.mat-cell {
    padding: 14px;
    font-size: 1rem;
    color: $text-color;
    border-bottom: 1px solid $border-color;
  }

  tr.mat-header-row {
    height: 64px;
  }

  tr.mat-row {
    height: 56px;


    &:hover {
      background-color: $row-hover-color;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }
  }

  tr.mat-row:hover td {
    background-color: $row-hover-color;
    transition: background-color 0.3s ease;
  }

  td.mat-cell:first-child {
    text-align: center;
  }

  td.mat-cell:last-child {
    text-align: right;
  }

  @media (max-width: 768px) {
    table.mat-elevation-z8 {
      font-size: 0.9rem;
    }

    th.mat-header-cell,
    td.mat-cell {
      padding: 10px;
    }

    tr.mat-header-row {
      height: 56px;
    }

    tr.mat-row {
      height: 48px;
    }
  }
}
.cdk-row{
  cursor: pointer;
}

.cdk-row:hover{
  background: #6c6a6a;
}

.button_retour{
  margin-top: 10px;
  background-color: $secondary-color;
}

.blocSeller{
  padding: 2vh 5vw;
  display: flex;
  flex-direction: column;
  gap:20px;
}

