.block-sale {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.sale-card {
  width: 100%;
}




.totalBlock{
  width: 100%;
  display: flex;
  justify-content: space-between;
}


.canvaTotal{
  width: 30%;
}

.button_retour{
  margin-top: 10px;
  background-color: #03dac6;
  width: 100%;
}

.block{
  padding: 2vh 5vw;
  display: flex;
  flex-direction: column;
  gap:20px;
}

.title_allSale{
  margin-top: 1vh;
  margin-bottom: 0px;
  font-weight: bold;
  color: #555;
}

.filter-container {
  display: flex;
  gap:5px;
  align-items: start;
  flex-direction: column;
  padding: 5px 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.block_choice{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.filter-container h2 {
  font-weight: bold;
  font-size: 1.2rem;
  margin: 0px;
  color: #333;
  text-align: center;
}

.filter-item {
  display: flex;
  width: 18%;
  flex-direction: column;
}

.filter-item label {
  font-weight: bold;
  color: #555;
}

.filter-item select {
  flex-basis: 45%;
  padding: 6px;
  border-radius: 4px;
  border: 1px solid #ccc;
}
