.block-sale {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.sale-card {
  width: 100%;
}




.totalBlock{
  width: 100%;
  display: flex;
  justify-content: space-between;
}


.canvaTotal{
  width: 30%;
}

.button_retour{
  margin-top: 10px;
  background-color: #8d7bfa;
  width: 100%;
}

.block{
  padding: 2vh 5vw;
  display: flex;
  flex-direction: column;
  gap:20px;
}

.title_allSale{
  margin-top: 1vh;
  margin-bottom: 0px;
  font-weight: bold;
  color: #555;
}

.filter-container {
  display: flex;
  gap:5px;
  align-items: start;
  flex-direction: column;
  padding: 5px 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.block_choice{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.filter-container h2 {
  font-weight: bold;
  font-size: 1.2rem;
  margin: 0px;
  color: #333;
  text-align: center;
}

.filter-item {
  display: flex;
  width: 18%;
  flex-direction: column;
}

.filter-item label {
  font-weight: bold;
  color: #555;
}

.filter-item select {
  flex-basis: 45%;
  padding: 6px;
  border-radius: 4px;
  border: 1px solid #ccc;
}



* {
  font-family: "Inter var", sans-serif;
  font-size: 16px;
  font-weight: 400;
  user-select: none;
  transition: all 200ms ease;
}

html,
body,
.full-width {
  height: 100%;
}

body {

  &,
  html {
    margin: 0;
    padding: 0;
  }
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background:var(--bg-page);
  color:var(--text-color);
}

.hide {
  display: none;
  visibility: hidden;
  height: 0;
}

.pagination\:container {
  justify-content: center;
  display: flex;
  align-items: center;
}

.arrow\:text {
  display: block;
  vertical-align: middle;
  font-size: 13px;
  vertical-align: middle;
}

.pagination\:number {
  color:white;
  --size: 32px;
  --margin: 6px;
  margin: 0 var(--margin);
  border-radius: 6px;
  background: rgba(108, 99, 172, 0.71);
  max-width: auto;
  min-width: var(--size);
  height: var(--size);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0 6px;
  @media (hover: hover) {
    &:hover {
      background: #5c5391;
    }
  }
  &:active {
    background:  #5c5391;
  }
}

.pagination\:active {
  background: lighten(#202020, 3%);
  position: relative;
}

.pagination-active{
  background:  #6C63AC;
}
