@if(!sellerFirstName && !customerFirstName){
  <h1 class="title_allSale">ALL SALE</h1>
} @else if (sellerFirstName && !customerFirstName){
  <h1 class="title_allSale">SOLD BY : {{allSale[0].seller.first_name}} {{allSale[0].seller.last_name}}</h1>
}@else if (customerFirstName && !sellerFirstName){
  <h1 class="title_allSale">PURCHASE OF : {{allSale[0].customer.first_name}} {{allSale[0].customer.last_name}}</h1>
}



<div class="block-sale">
  @for (item of allSale; track item.id){
    <app-sale-card class="sale-card" [sale]="item"></app-sale-card>
  }
</div>

